<div class="auth-container">
    <h2>Login</h2>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password">
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
  </div>
  