<!-- Toolbar -->
<app-toolbar 
  (logoutClicked)="logout()" 
  (dashboardClicked)="navigateToDashboard()"
  (scroll)="scrollTo($event)">
</app-toolbar>
<!-- Hero Section -->
<div class="content" id="hero-section"></div>
<div class="image-container">
  <img src="assets/gymmm.jpg" alt="Gym Background" class="gym">
  <div class="overlay-content">
    <h1 class="main-title">Transform Your Body & Mind</h1>
    <p class="description">
      Discover GymFit — where dedication meets results. From state-of-the-art equipment to elite coaches, everything you need is here.
    </p>
    <div class="cta-buttons">
      <button mat-raised-button color="primary" class="join-button" (click)="navigateToRegister()">
        Register Now
      </button>
      <button mat-stroked-button color="accent" class="login-button" (click)="navigateToLogin()">
        Login
      </button>
    </div>
  </div>
</div>

<!-- Classes Section -->
<app-class-schedule
  [weeklySchedule]="weeklySchedule"
  [classes]="classes"
  [coaches]="coaches"
  id="schedule-section">
</app-class-schedule>
<!-- Weekly Schedule -->

<!-- Membership Plans -->
<div class="membership-plans" id="plans-section">
  <app-membership-plans (planSelected)="selectPlan($event)"></app-membership-plans>
</div>

<!-- Facilities -->
<div class="our-facilities" id="facilities-section">
  <app-facilities
  [footballCourts]="footballCourts"
  [(selectedCourtId)]="selectedCourtId"
  [(selectedCourtPrice)]="selectedCourtPrice"
  [(reservationDate)]="reservationDate"
  [(reservationStartTime)]="reservationStartTime"
  (openReservationDialogClicked)="openReservationDialog()"
></app-facilities>

</div>

<!-- Coaches -->
<div class="meet-our-coaches" id="coaches-section">
  <app-coach-list [coaches]="coaches"></app-coach-list>
</div>

<!-- Footer -->
<app-footer></app-footer>
