<!-- Toolbar -->
<app-toolbar 
  (logoutClicked)="logout()" 
  (dashboardClicked)="navigateToDashboard()"
  (scroll)="scrollTo($event)">
</app-toolbar>
<!-- Hero Section -->
<div class="content" id="hero-section" ></div>
  <div class="image-container">
    <img src="assets/fit.webp" alt="Gym Image" class="gym">
    <div class="overlay-content">
      <h1 class="main-title">Start Your Fitness Journey With Us</h1>
      <p class="description">
        At GymFit, we provide you with state-of-the-art facilities and top trainers to help you reach your fitness goals.
        Don't waste time, join us today!
      </p>
      <button mat-raised-button color="primary" class="join-button" (click)="navigateToLogin()">
        Join Now
      </button>
    </div>
  </div>

<!-- Classes Section -->
<app-class-schedule
  [weeklySchedule]="weeklySchedule"
  [classes]="classes"
  [coaches]="coaches"
  id="schedule-section">
</app-class-schedule>
<!-- Weekly Schedule -->

<!-- Membership Plans -->
<div class="membership-plans" id="plans-section">
  <app-membership-plans (planSelected)="selectPlan($event)"></app-membership-plans>
</div>

<!-- Facilities -->
<div class="our-facilities" id="facilities-section">
  <app-facilities
    [footballCourts]="footballCourts"
    [selectedCourtId]="selectedCourtId"
    [selectedCourtPrice]="selectedCourtPrice"
    [reservationDate]="reservationDate"
    [reservationStartTime]="reservationStartTime"
    (selectedCourtIdChange)="selectedCourtId = $event; updateSelectedCourt()"
    (reservationDateChange)="reservationDate = $event"
    (reservationStartTimeChange)="reservationStartTime = $event"
    (openReservationDialogClicked)="openReservationDialog()">
  </app-facilities>
</div>

<!-- Coaches -->
<div class="meet-our-coaches" id="coaches-section">
  <app-coach-list [coaches]="coaches"></app-coach-list>
</div>

<!-- Footer -->
<app-footer></app-footer>
