<mat-toolbar color="primary" class="footer-toolbar">
    <span class="footer-logo">
      <mat-icon>fitness_center</mat-icon> GymFit
    </span>
  </mat-toolbar>
  
  <footer class="footer">
    <div class="quick-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Classes</a></li>
        <li><a href="#">Memberships</a></li>
        <li><a href="#">Facilities</a></li>
        <li><a href="#">Coaches</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  
    <div class="contact-info">
      <h4>Contact Info</h4>
      <p>123 Fitness St, Healthville</p>
      <p>(555) 123-4567</p>
      <p>powerfitgym.com</p>
    </div>
  
    <div class="opening-hours">
      <h4>Opening Hours</h4>
      <p>Monday - Friday: 05:00 - 23:00</p>
      <p>Saturday: 06:00 - 22:00</p>
      <p>Sunday: 07:00 - 21:00</p>
    </div>
  
    <div class="follow-us">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
  </footer>
  